body {
  margin: 0 auto;
  height: 800px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_img {
  height: auto;
  width: 100%;
  margin-bottom: -5px;
}

hr {
  border: none; 
  background-color: #6b4141; 
  height: 7px; 
  margin-top: 0px;
  margin-bottom: -2px;
}